.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-container label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
  }

  .form-container p {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .form-container input {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
  }